/* src/Board.css */

.board-row {
    clear: both;
    content: "";
    display: table;
    margin-left: 550px;
    /* size: 200px/; */
  }
  
  .status {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .reset{
    border: 2px solid;
    margin-top: 10px;

  }